.loginSignup {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #3D7EAA 0%, #FFE47A 60%);
    padding-top: 50px;
}

.loginSignup-container {
    width: 450px;
    min-height: 500px;
    background: white;
    margin: auto;
    padding: 40px 60px;

}

.loginSignup-login hr {
    margin: 20px 0px;
}

.loginSignup-fields {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 30px;
}

.loginSignup-fields input {
    height: 52px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
}

.loginSignup-container button {
    width: 100%;
    height: 52px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
  
}

.loginSignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}
.loginSignup h1{
    text-align: center;
    font-size: 28px;
}

.loginSignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginSignup-agree {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}

/* RESPONSIVE DESIGN */
@media(max-width:1280px) {
    .loginSignup {
        padding-top: 50px;
    }
    .loginSignup-container {
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginSignup-container h1 {
        margin: 10px 0px;
    }
    .loginSignup-fields {
        gap: 20px;
        margin-top: 20px;
    }
    .loginSignup-fields input {
        height: 65px;
        width: 93%;
    }
    .loginSignup-container button {
        width: 100px;
    }
    .loginSignup-login {
        font-size: 16px;
    }
    .loginSignup-agree {
        font-size: 14px;
        gap: 10px;
    }
}

@media(max-width:800px) {
    .loginSignup-container {
        padding: 20px 30px;
    }
    .loginSignup-container h1 {
        font-size: 24px;
    }
    .loginSignup-fields {
        margin-top: 20px;
    }
    .loginSignup-fields input {
        height: 50px;
    }
    .loginSignup-container button {
        height: 50px;
        font-size: 16px;
        width: 93%;
    }
}
