.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.new-collections h1 {
  color: #171717;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.new-collections hr {
  width: 200px;
  border-radius: 10px;
  background: #252525;
  padding: 2px;
}

/*  COLLECTION GRID  */

.collections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 30px;
}

/* RESPONSIVE DESIGN*/

@media (max-width: 1280px) {
  .new-collections h1 {
    font-size: 40px;
  }

  .new-collections hr {
    width: 140px;
    height: 4px;
  }

  .collections {
    gap: 20px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  .new-collections h1 {
    font-size: 30px;
  }

  .new-collections hr {
    width: 120px;
    height: 1px;
  }

  .collections {
    gap: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .new-collections {
    gap: 6px;
  }

  .new-collections h1 {
    font-size: 20px;
  }

  .new-collections hr {
    width: 100px;
    padding: 1px;
  }

  .collections {
    gap: 5px;
  }
}

@media (max-width: 500px) {
  .collections {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
