.offers {
  width: 65%;
  display: flex;
  margin: 100px auto;
  margin-bottom: 150px;
  padding: 0px 140px;
  background: linear-gradient(180deg, #3d7eaa 0%, #ffe47a 60%);
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: #171717;
  font-size: 80px;
  font-weight: 800;
}

.offers-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}

.offers-left button {
  width: 282px;
  height: 80px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 32px;
  cursor: pointer;
  text-align: center;
  padding: 15px;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1280px) {
  .offers {
    padding: 0px 80px;
    margin-bottom: 120px;
  }

  .offers-left h1 {
    font-size: 40px;
  }

  .offers-left p {
    font-size: 18px;
  }

  .offers-left button {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }

  .offers-right img {
    width: 200px;
  }

  .offers-right {
    padding-top: 10px;
  }
}

@media (max-width: 800px) {
  .offers {
    margin-bottom: 60px;
  }

  .offers-left h1 {
    font-size: 22px;
  }

  .offers-left p {
    font-size: 13px;
  }

  .offers-left button {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }

  .offers-right img {
    width: 180px;
  }
}

@media (max-width: 500px) {
  .offers {
    height: 25vh;
    width: 80%;
    margin-bottom: 50px;
    background: #3d7eaa;
    padding: 0 20px;
   
    
  }

  .offers-left h1 {
    font-size: 16px;
  }

  .offers-left p {
    font-size: 10px;
  }

  .offers-left button {
    width: 120px;
    height: 25px;
    font-size: 10px;
    margin-top: 12px;
    
  }

  .offers-right img {
    width: 105px;
   
  }
}
